body{
  background-image: linear-gradient(rgb(72, 36, 204),yellowgreen,orangered);
  height: 555px;
}
.pq{
  position: absolute;
  bottom: 70px;
  text-align: center;
  right: 70px;
  width: 550px;
  height: 250px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: chartreuse;
}
.heading{
  text-align: center;
  text-shadow: 2px 2px 2px yellowgreen;
}
.qp{
  position: absolute;
  text-align: center;
  bottom: 70px;
  left: 70px;
  width: 550px;
  height: 250px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: orangered;
}
.sm{
  width: 400px;
  height: 50px;
  margin-left: 200px;
  background-color: rgb(37, 197, 176);
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  
 
}
.sm:hover{
  background-color: aqua;
}
.ms{
  width: 400px;
  height: 50px;
  margin-left: 50px;
  background-color: rgb(37, 197, 176);
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
 
 
}
.ms:hover{
  background-color: aqua;
}

@media screen  and (max-width:1100px){
  body{
    width: 98vw;
    text-align: center;
  
  }
  .heading{
    width: 90vw;
    font-size: 10vw;
    margin: 5vw;
  }
  .sm{
    margin: 0;
    width:80vw;
    height: 10vw;
    position: absolute;
    left: 9.5vw;
    top: 60vw;
    font-size: 5vw;
  }
  .ms{
    margin: 0;
    width: 80vw;
    height: 10vw;
    position: absolute;
    left: 9.5vw;
    top: 80vw;
    font-size: 5vw;
  }
  .pq{
    width: 90vw;
    height: 70vw;
    position: absolute;
    left: 4vw;
    top: 190vw;

  }
  .qp{
    width: 90vw;
    height: 70vw;
    position: absolute;
    left: 4vw;
    top: 110vw;
  }
  .h{
    font-size: 7vw;
  }
  .p{
     font-size: 4vw;
  }
  
}
   
  





